*
{
    padding: 0;
    margin: 0;
}

html
{
    background-color: aliceblue;
}

body
{
    font-family: 'Poppins', sans-serif;
}

#superman
{
    margin-bottom: -80vh;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}

#train-icon
{
    font-size: 10rem;
    color: rgb(0, 0, 54);
}

#start-button
{
    width: 100px;
    height: 50px;
    padding: 5px;
    font-weight: bolder;
    background: none;
    border: 2px solid rgb(1, 1, 85);
    box-shadow: 0 0 9px rgb(96, 146, 240);
    border-radius: 10px;
    cursor: pointer;
}
